.card {
  padding: 5px;
  margin: 5px 15px;
  font-size: 14px;
  width: 35rem;
  max-width: 550px;
  font-family: Futura,Helvetica,Arial,sans-serif
}

.card-header {
  background: #efece3;
  overflow: hidden;
  margin-bottom: 10px;
  background-image: url("../../assets/imgs/background1.png");
  transition: ease-in-out opacity 1s
}
.card-header > h5 { margin: 0; transition: ease-in-out opacity 500ms }
.card > .form-check { margin-bottom: -2px; padding-left: 25px; transition: ease-in-out opacity 500ms }
.form-check-input { margin-top: 0.15rem }
.card > .row > .col-6 > button { 
  width: 100px; 
  margin-top: 15px; 
  background: none; 
  color: #000;
  border: solid #fff 1px;
  opacity: .8
}
.card > .row > .col-6 > button:hover { background: #efece3; border: solid #d8d5cc 1px; color: #000 }
.card > .row > .col-6 > button:disabled { color: #ccc }
.card > .row > .col-6 > button:disabled:hover { background: none; border: solid #fff 1px }