.noms > .card {
  margin: 5px 15px;
  font-size: 14px;
  width: 35rem;
  max-width: 550px;
}

.noms > .card > .card-header {
  border: none;
  margin-bottom: 10px;
  background-image: url("../../assets/imgs/background1.png");
  transition: ease-in-out opacity 1s
}
.noms > .card > .card-header > h5 { margin: 0; transition: ease-in-out opacity 500ms }
.noms > .card > .form-check { margin-bottom: -2px; padding-left: 40px; transition: ease-in-out opacity 500ms }
.noms > .card > .form-check-input { margin-top: 0.15rem }
.noms > .card > .row > .col-6 > button { 
  width: 100px; 
  margin-top: 15px; 
  background: none; 
  color: #000;
  border: solid #fff 1px;
  opacity: .8
}
.noms > .card > .row > .col-6 > button:hover { background: #efece3; border: solid #d8d5cc 1px; color: #000 }
.noms > .card > .row > .col-6 > button:disabled { color: #ccc }
.noms > .card > .row > .col-6 > button:disabled:hover { background: none; border: solid #fff 1px }

.time { margin-left: -40px; padding: 0 15px }