

.proPicks {font-size: 13px}
.proPicks > .col-12 > .card-body > .card-text > {}
.proPicks > .col-12 > .card-body > .card-text > .testDiv {width: fit-content; cursor: pointer; transition: ease-in-out font-size 300ms}
.proPicks > .col-12 > .card-body > .card-text > .testDiv > svg { color: rgb(220, 220, 220); padding-bottom: 1px; }
.proPicks > .col-12 > .card-body > .card-text> .testDiv:hover > svg {color: #353431}
.formSelections {padding-left: 15px; height: 0; transition: ease-in-out height 1s; overflow: hidden; font-size: 13px;}
.formSelections > .form-check {margin-top: 0; height: 16px}
.testDiv > .fa-times-circle {color: #bd2130!important; cursor: pointer}
.testDiv > .fa-times-circle:hover {color: #7c141e!important}
.catSelected {font-size: 20px ; color: #a72b2b; cursor: default!important}