.container-fluid > .row {border-bottom: 1px solid #dee2e6!important }
.col-lg-6 {
    padding: 0; margin: 0
}
.right > .row {height: 700px; overflow: auto;}
.fa-arrow-up {color: rgb(155, 184, 141)}
/* Leaderboard ---------------------------- */
.leaderboard > .col-12 { padding: 0; overflow: auto; border-right: 1px solid #dee2e6!important }

/* Row ----------------------------------- */
.table { font-size: 15px }
.table > tbody > tr > td > button {height: 10px}
.table > thead > tr > th:nth-child(1) {padding-left: 15px}
.table > thead > tr > th:nth-child(1) > svg {font-size: 12px; cursor: pointer;}
.table > thead > tr > th:nth-child(1) > svg:hover {color: #c4b897}
.selectedGuru {color: #84b2da}


.selected {background-color:#f2e3bb56 }
.table > tbody > tr > td > .fa-user-astronaut {color: #c4b897}
.table > tbody > tr > td > button > svg {color: #000; position: relative; top: -12px}
.table > tbody > tr > td > button:hover > svg {color: rgb(215, 113, 113)}
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn:focus, .btn:active:focus, .btn.active:focus{
    outline:none;
    box-shadow:none;
}

.table > tbody > tr > th {padding-left: 15px}
/* tr {height: 0px; padding: 0} */
/* .table td, .table th {padding: 0 15px} */
/* Category ------------------------------- */
.categorySection { padding: 0 }
.categorySection > .col-12 {
    height: 50px; 
    padding: 0; 
    margin: 0;
    border: none; 
    background: url("../../assets/imgs/background1.png");
}

.categorySection > .col-12 > 

/* Chat ------------------------------- */
.chat {padding: 0; border-right: solid #a3a19a 1px;  }
.chat > .col-12 {
    height: 50px; 
    background: url("../../assets/imgs/background1.png");
}

.chat > .col-12 > .color {
    /* background-color: rgb(17, 112, 196); */
    width: 100%;
    height: 100%;
    opacity: .05;
}