#Player {
    width: 96vw!important;
    height: 56vw!important;
    background: url("../../assets/imgs/background1.png");
    border: solid 1px #000;
    border-radius: 2vw;
    box-shadow: 0.2vw 0.2vw 0.8vw #000;
    overflow: hidden;
    transition: ease-in-out opacity 1s;
}

#Player > .col-6 > .card-body > img { 
    border-radius: 100%; 
    width: 30vw; 
    height: 30vw;
    border: solid #efece3 1px; 
    position: relative; 
    box-shadow: 1px 1px 4px #000;
    z-index: 1;
}

#Player > .col-6 > .card-body > hr {margin: 1vw; font-size: 20vw; border: solid #000 .1vw}
#Player > .col-6 > .card-body > div > h6 {font-size: 3vw}
#Player > .col-6 > .card-body > div > h6 > svg {color: #136686; }
#Player > .col-6 > .card-body > div > h6 > .fa-arrow-up {color: rgb(155, 184, 141); position: relative; top: -1px}
#Player > .col-6 > .card-body > div > h6 > .fa-arrow-down {color: rgb(215, 113, 113); position: relative; top: -1px}

#Player > .col-6 > .card-body > h4 { font-size: 4vw; padding-top: 1vw}
#Player > .col-6 > .card-body > h4 > svg { font-size: 3vw!important; color: #7a6105; position: relative; top: -.4vw}
#Player > .col-6 > .card-body > a > svg {color: #84c1da!important}
#Player > .col-6 > .card-body > a { position: relative; top: -13px; font-size: 3vw; color: #a3a19a }
#Player > .col-6 > .card-body > a:hover > svg {color: #84c1da}
#Player > .col-6:nth-of-type(2) {
    border-left: 1px solid #a3a19a;
    background: linear-gradient(to left, rgba(161, 161, 161, 0.6), rgba(248, 248, 248, 0.0)); 
    overflow: auto; 
    font-size: 2.8vw;
    height: 100%;
    padding: 2vw;
}

#Player > .col-6 > .category {margin: 0}
#Player > .col-6 > .category > div > div > p {font-size: 2.5vw; color: #117096}

