#Category {
    width: 96vw!important;
    background: #fff;
    border: solid .1vw #000;
    border-radius: 2vw;
    box-shadow: 0.2vw 0.2vw 0.8vw #000;
    transition: ease-in-out height 1s;
    position: relative;
    overflow: hidden;
    min-height: 36vw
}

/* 
.categorySection { padding: 0 }
.categorySection > .col-12 {
    height: 50px; 
    padding: 0; 
    margin: 0;
    border: none; 
    background: url("../../assets/imgs/background1.png");
} */


/* #Category {padding-bottom: 5px; background: #fff; } */
#Category > .screen {
    background: #fff; 
    z-index: 3; 
    position: absolute; 
    margin: 0;
    height: 100%; 
    width: 100%; 
    opacity: 1; 
    transition: ease-in-out opacity 1s;
    background: url("../../assets/imgs/background2.jpg")
}

#Category > .screen > h5 {
    background: url("../../assets/imgs/background1.png"); 
    height: 100%;
}
#Category > .screen >  img {width: 100%; position: relative;}

#Category > .card-header {
    height: 13vw;
    padding: 3vw 0;
    background: url("../../assets/imgs/background1.png");
    border-bottom: .1vw solid ;
    margin-bottom: 0;
}
#Category > .card-header > h5 {font-size: 5vw; color: rgb(95, 103, 128)}
#Category > .card-header > h5 > img {height: 9vw; position: relative; top: -1vw}


#Category > .col-12 > .row {margin: 1vw 0}
/* #Category > .col-12 > .row > .text-truncate {padding-top: 1px} */

#Category > .col-12 > .row > .percContainer {
    margin: .5vw 0;
    height: 6vw;
    border-radius: 4vw;
    background-color: #e1e1e1;
    border: .2vw solid #747577!important;
    overflow: hidden;
    padding: 0;
    box-shadow: .4vw .4vw .4vw #ccc;
}

#Category > .col-12 > .row > .percContainer > .percColor { 
    width: 0;
    position: absolute;
    top: 0;
    height: 100%;
    background: linear-gradient(to right, rgba(138, 174, 128), rgb(160, 201, 147, 0.4)); 
    border-radius: none!important;   
    transition: ease-in-out width 3s;
    z-index: 1;
}

#Category > .col-12 > .row > .percContainer  > p {
    position: relative;
    top: .5vw;
    right: 0;
    font-size: 3vw;
    padding: 0;
    z-index: 2;
}