.picksSpo {margin: 0; padding: 0; transition: ease-in-out height 1s;
    overflow: hidden;  height: 1178px; }
.picksSpo > .col-12 > .category { 
    min-width: 300px;
    margin: 0 auto; 
    padding: 2px; 
    border-top: solid #dfd9c9 1px; 
}

.picksSpo > .col-12 > .category > div {padding: 0}
.picksSpo > .col-12 > .category > .card-text {font-size: 12px;}
.picksSpo > .col-12 > .category > div > { font-size: 12px; padding: 0px; margin: 0px; color: #353431 }
.picksSpo > .col-12 > .category > div  > svg { font-size: 12px; position: relative; right: 3px; top: -5px}
.picksSpo > .col-12 > .category > div  > .fa-circle { color: #dfd9c9}
.picksSpo > .col-12 > .category > div  > .fa-check-circle { color: rgb(155, 184, 141)}
.picksSpo > .col-12 > .category > div  > .fa-times-circle { color: rgb(215, 113, 113)}
.picksSpo > .col-12 > .category > div > div { font-size: 12px; margin: 0; color: #a3a19a }




