#leaderboardOverlay {
    width: 100vw!important;
    height: 100vh!important;
    overflow: auto;
    background: #fff;
    transition: ease-in-out opacity 1s;
}
#leaderboardOverlay > table{font-size: 2vw!important}
#leaderboardOverlay > table > thead > tr > th > svg {font-size: inherit}