nav { 
    border-bottom: solid rgb(55, 55, 55) 2px; 
    border-top: solid rgb(55, 55, 55) 2px; 
    margin: 0 -15px; 
    background: linear-gradient(to right, rgb(150, 165, 145), rgb(152, 170, 143));
    overflow: hidden;
}

nav > .row {max-width: 900px; margin: 0 auto;}
nav > .row > .col-6 > img { width: 190px }
nav > .row > .col-6 > ul {float: right; margin-top: 3px; margin-right: 10px }
nav > .row > .col-6 > ul > li { margin: 8px 3px }
nav > .row > .col-6 > ul > li > a { color: #efece3; cursor: pointer }
nav > .row > .col-6 > ul > li > a:hover { color: #d3c7a8 }
nav > .row > .col-6 > ul > li > .twit:hover { color: #84c1da }
nav > .row > .col-6 > ul > li > .face:hover { color: #62749b }
nav > .row > .col-6 > ul > li > .tube:hover { color: #c57d7a }
nav > .row > .col-6 > ul > li > .cloud:hover { color: #fac292 }
