
.profile > .card { padding: 3px; margin: 5px 15px; width: 35rem; padding-bottom: 0 }
.profile > .card > .card-header { 
    height: 50px; 
    padding: 0; 
    border-radius: 3px; 
    border: none; 
    background: url("../../assets/imgs/background1.png");
    margin-bottom:13px 
}
.profile > .card > .card-header > img { 
    border-radius: 100%; 
    width: 80px; 
    border: solid #efece3 2px; 
    position: relative; 
    bottom: -5px 
}
.profile > .card > .card-body > h4 { font-size: 20px }
.profile > .card > .card-body > a { font-size: 13px; margin-top: -110px; color: #a3a19a }





